@{
    ViewData["Title"] = "FotoAlbum di Claudio";
}

<h1 class="text-center">Benvenuto!</h1>
<h2 class="text-center">Questo è il mio album fotografico!</h2>


<p id="images-loader">Loading images...</p>

<p id="no-images">No images to display :\</p>

<div class="my-3">
    <input type="text" class="form-control" id="filter" placeholder="Ricerca...">
</div>

<div class="row row-cols-4 g-3 mb-4" id="page">
    
</div>


<h3 class="pt-5 pb-3">Contattami!</h3>
<form class="pb-5" id="message-form">
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Inserisci la tua Email">
        <span id="email-error" class="text-warning"></span>
    </div>
    <div class="mb-3">
        <label for="message" class="form-label">Messaggio</label>
        <textarea class="form-control" id="message"></textarea>
        <span id="message-error" class="text-warning"></span>
    </div>
    <button type="submit" class="btn btn-primary">Invia</button>
</form>

@section Scripts
{
    <script>
        loadImages();
        initFilter();
        initMessageForm();
    </script>
}